
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
    
    
}

.text-small {
    font-size: 55px;
    background-color: #fef68a;
    margin: 50px;
    background: linear-gradient(-45deg, red, #e1e1e1, #fef68a,#97fff5); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    } 
}
   
