

.footer-spacing {
    padding: 50px
    
}

.footer-text{
    color: lightgray;
    font-size: 8.5px;
    font-weight: 500;
    list-style: none;
    margin:auto;
    
    }
    
    .footer-text:hover{
        color: black;
        background: linear-gradient(-45deg, red, #e1e1e1, #fef68a,#97fff5); 
        background-size: 400% 400%;
       
    }
   