
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
 
    
    
}

.text-large { 
    font-size: 55px;
    background-color: #fef68a;
    margin: 50px;
    background: linear-gradient(-45deg, red, #e1e1e1, #fef68a,#97fff5); 
    background-size: 400% 400%;
  
}

.text-medium{
    font-size: 30px;
    background-color: #fef68a;
    margin: 100px;
    background: linear-gradient(-45deg, red, #e1e1e1, #fef68a,#97fff5); 
    background-size: 400% 400%;
}

.text-small { 
    font-size: 20px;
    background-color: #fef68a;
    margin: 10px;
    background: linear-gradient(-45deg, red, #e1e1e1, #fef68a,#97fff5); 
    background-size: 400% 400%;
}