#homeBody{
    background-image: url('/src/assets/matthew-henry-VviFtDJakYk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 1150px;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
    font-family:'Times New Roman', Times, serif
}

.text-large { 
    font-size: 40px;
    margin: 27px;
    background-color: rgba(229, 251, 238, 0.5);
    text-align: center;
    border-radius: 50px;
}

.text-medium{
    font-size: 20px;
    background-color: lightgray;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
  
}
.text-small { 
    font-size: 20px;
    margin: 50px;
    text-align: center;
    border-radius: 10px;
}
#cardBody{
    background-color: rgb(238, 255, 255);
}

#homeCard{
    max-width: 1000px;
    font-size: small;
    opacity: .8;
   }