
.leaflet-container {
    height: 350px;
}

#bldgBox{
    max-width: 1000px;
    font-size: small;
   }

#button{
    margin-left: 75px;
    margin-right: 75px;
}

#buttonEdit{
    margin: 15px;
}

#cardTitles{
    font-size: small;
}

#instruction{
    font-size: xx-small;
}

#propertyInfo{
    font-size: smaller;
    text-align: center;
    vertical-align: middle;
  
}
