#signupBody{
    background-image: url('/src/assets/matthew-henry-VviFtDJakYk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 1150px
}

#signupForm {
    padding-top: 200px;
}