<header>
    <div class="container">
        <div>
            <h1>OAuth Google Login</h1>
            <form method="GET" action="/auth/google">
                <button type="image" class="loginBtn" width="30%">
                    <img src="//src/assets/google.png" width="30%">
                </button>
            </form>
        </div> 
    </div>
</header>

<section>
    <section>